// Desktop header
body{
  .site{
    &-header {
      position: fixed;
      padding: 0 !important;
      background-color: transparent;
      pointer-events: none;

      &-container {
        height: 100% !important;
        padding: 0 !important;
        max-width: 100% !important;

      }

      .header-search-wrap {
        padding: 0;
        height: 100%;
        width: 25vw;
        z-index: 2000;
        pointer-events: all;
        > .container, form, label, input {
            height: 100%;

        }
      }
    }
    // Logo
    &-branding {
      position: relative;
      left: 0;
      top: 176px;
      padding: 48px 0 !important;
      width: 10vw;
      height: 100% !important;
      background-color: $purple;

      &:before {
        content: "";
        position: absolute;
        background-color: transparent;
        transform: rotateY(180deg);
        top: 0;
        right: 0;
        height: 160px;
        width: 80px;
        border-top-left-radius: 160px;
        box-shadow: 0 -80px 0 0 $white;
      }
    }

    &-title {

      width: 100% !important;
      height: 100% !important;

      a {
        display: flex;
        width: 100%;
        height: 100%;

       img {
        padding: 0 !important;

        width: 100% !important;
        height: 100% !important;
       }
      }
    }
  }

  .main-navigation {
    display: none !important;
  }

  .header-aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;

    &-inner {
      position: relative;
      height: 100%;
      width: 100%;

      .user-wrap {
        padding: 50px 10px;
        height: 100%;
        width: 10vw;
        display: flex;
        justify-content: center;
        pointer-events: all;

        .user-link {
          display: flex;
          flex-direction: row-reverse;
          align-items: center !important;

          .user-name {
            display: none;

          }
        }

        .sub-menu {
          border-radius: 0;
          border: 1px solid rgba($color: #000000, $alpha: 0.1);
          top: 176px;
          left: 50%;
          width: 10vw;
          transform: translate(-50%);

          &:before {
            content: none !important;
          }

          &-inner {
            width: 100%;
            .user-link {
              padding: 0 10px !important;
              flex-direction: row !important;
            }

            li {
              .ab-sub-wrapper {
                border: 1px solid rgba($color: #000000, $alpha: 0.1);
                left: calc(10vw - 2px) !important;
                &:before{
                  left: -5px !important;
                  right: initial;
                  box-shadow: -2px 2px 2px -3px rgba(0,0,0,.1);
                }
              }
            }
          }
        }
      }

      .bb-separator {
        display: none;
      }

      .header-search-link {
        display: none;
      }

      .notification-wrap {
        position: absolute;
        top: 0;
        z-index: 1001;
        padding: 0 !important;
        pointer-events: all;

        &#header-notifications-dropdown-elem {
          right: 80px;

        }

        &#header-messages-dropdown-elem {
          right: 40px;

        }
      }
    }
  }

  &.buddypanel-open {
  // Changes when buddypanel has been opened
    .site{
      &-branding {
        margin: 0 !important;
        width: 25vw !important;
      }

      .header-aside {
        position: absolute;
        left: 0;

        &-inner {
          width: 100%;

          .user-wrap {
            width: 25vw;
            justify-content: space-between;

            .user-link {
              display: flex;
              flex-direction: row-reverse;

              .user-name{
                display: block;
              }
            }
            .sub-menu {
              width: 25vw !important;

              li {
                .ab-sub-wrapper {
                  left: calc(25vw - 2px) !important;
                }
              }
            }
          }
          .header-search-link {
            display: flex;
            padding: 0;
            right: 31px;
            pointer-events: all;

          }
        }
      }
    }
  }
}

// Mobile
@media screen and (max-width: 799px) {
  .progress-container {
    display: none;
  }
  .site-header {
    width: 100%;
    background-color: $purple !important;

    .header-aside {
      height: auto;
      width: auto;
      left: initial !important;
      right: 0;
    }

    .bb-left-panel-icon-wrap {
      pointer-events: all;
    }

    .bb-mobile-panel {
      &-wrapper {
        background-color: transparent !important;

        &:not(.closed) {
          width: 100vw;
          .bb-close-panel {
            z-index: 1001;
            height: initial;
            width: initial;

            .bb-icon-close {
              right: initial !important;
              left: 4px;
            }
          }

          .bb-login-section {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0px;
          }

          .buddypanel-menu {
            padding: 160px 68px 68px 68px;
            position: relative;

            &:before {
              content: "";
              position: absolute;
              background-color: transparent;
              transform: rotateY(180deg);
              top: 0;
              right: 0;
              z-index: 5;
              pointer-events: none;
              height: 160px;
              width: 80px;
              border-top-left-radius: 160px;
              box-shadow: 0 -80px 0 0 $white;
            }

            .menu-item {
              margin: 5px;
            }
          }
        }
        &.closed {
          left: 0 !important;
          top: initial !important;
          bottom: 0;
          height: 100px !important;
          width: 100% !important;
          border-top-right-radius: 80px;
          pointer-events: all;

          .bb-mobile-panel-header {
            display: none;
          }

          // not displayed in fixed bottom nav
          .menu-item-66, .menu-item-74, .menu-item-83, .menu-item-86, .bb-login-section {
            display: none !important;
          }

          .buddypanel-menu {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            height: 100px;
            margin: 0;
            
            li {
              display: flex;
              flex: 25%;
              align-items: center;

              a {
                align-items: center;
                justify-content: center;
                span {
                  display: none;
                }
              }
            }
          }
        }
      }


      &-inner {
        padding: 0;
      }

      &-header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 292px !important;
        background-color: $white;

        .user-wrap {
          flex-direction: column;

          a img{
            margin: 0 !important;
          }

          > div {
            display: flex;
            align-items: center;
            flex-direction: column;
          }

          .user-name {
            color: $purple;
          }

        }
      }
    }
  }
  .bb-mobile-header {
    .mobile-logo-wrapper {
      width: 100vw;
      padding: 0;
      position: absolute;
      z-index: -1;
    }
  }
}
