.sub-menu{
  border: 1px solid $border;
  .ab-sub-wrapper{
      border: 1px solid $border;
      right: -187px !important;
      left: initial !important;
      &::before{
          left: -5px !important;
          right: initial !important;
      }
  }
}
