.post-grid.bb-standard{
  padding-top: 1.875rem;
  display: flex ;
  flex-direction: row ;
  flex-wrap: wrap ;
  article {
    width: 50% ;
    padding: 0 10px 10px 10px;
  }
  @media only screen and (max-width: 1440px) {
    flex-direction: column  !important;
    flex-wrap: wrap ;
    article {
      width: 100% !important;
    }
  }
}
