#Dashboard {
  margin: 0 !important;
  list-style: none !important;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 100%;
  li {
    margin-bottom: 20px;
    flex: 33.3%;
    padding: 0 10px ;
    &:nth-child(3n+1){
      padding: 0 10px 0 0 ;
    }
    // &:first-child a{
    //   border-top-left-radius: 25px !important;
    // }
    // &:last-child a{
    //   border-bottom-right-radius: 25px !important;
    // }
    &:hover{
      a {
        color: $white;
        &:before{
          max-height: 100%;
        }
      }
    }
    a{
      position: relative;
      width: 100%;
      height: 100%;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      &:before{
        position: absolute;
        content: "";
        z-index: -1;
        left: 0;
        width: 100%;
        max-height: 0;
        bottom: 0;
        height: 100%;
        background: $purple;
        background: linear-gradient(0deg, $dark_purple 5%, $purple 100%);
        transition: all .2s ease-in-out;
      }
    }
  }
}
