
.site-main{
  > article{
      &:hover{
          .entry-meta{
              transform: translateY(0) !important;
          }
      }
      &:not(.first){
          &:hover{
              .entry-meta{
                  transform: translateY(0) !important;
              }
          }
      }
      .entry-meta{
          margin: 40px 0 !important;
          opacity: 1 !important;
          transform: translateY(0) !important;
      }
  }
}
