body {
    .avatar, .group-avatar-wrap {
        border-radius: 90% !important;
        max-width: 100px !important;
        max-height: 100px !important;
    }
    &.messages {
        .progress-container {
            display: none;
        }
        .bp-messages-nav-panel {
            border: none !important;
            & * {
                border: none !important;
            }
        }
        .user-wrap{
          &:before {
            content: "";
            position: absolute;
            background-color: transparent;
            transform: rotateY(180deg);
            top: 0;
            right: 0;
            z-index: 5;
            pointer-events: none;
            height: 160px;
            width: 80px;
            border-top-left-radius: 160px;
            box-shadow: 0 -80px 0 0 $dark_purple;
          }
        }
      }
}


.messages-wrapper {
  border: none !important;
}


body{
  &:not(.messages, .register){
      .site-content{
          @media only screen and (max-width: 1599px) and (min-width: 800px)  {
          > .container{
              padding: 0 20px !important;
              }
          }
          @media only screen and (max-width: 799px)  {
          > .container{
              padding: 100px 20px 160px 20px !important;
              }
          }
      }
  }

  &.single-post{
      .entry-meta {
          transform: none !important;
      }
      .entry-content-wrap {
          display: flex;
          flex-direction: column;
          .entry-media {
              order: 2;
          }
          .entry-header {
              order: 1;
          }
          .entry-meta {
              order: 4;
          }
          .entry-content {
              order: 3;
          }

      }
  }

  &.messages:not(.group-type-bedrijf){
      overflow-y: hidden;
      .site-content{
              > .container{
                  padding: 0 !important;
                  max-width: 100% !important;
              }
          .content-area{
              padding-top: 0 !important;
          }
      }
      .bs-bp-container{
          position: relative;
          @media only screen and (max-width: 799px) {
              left: 0 !important;
          }
      }
  }
}

figure.entry-img{
  width: 100% !important;
  margin-left: 0 !important;
  margin: 0 0 32px !important;
}

body.single-post{
  .entry-meta{
      display: block;
      opacity: 1;
      transform: translate(0) !important;
  }
}

body.register, body.login{
  .register-section-logo{
      font-family: 'Work sans';
      font-weight: bolder;
      color: $purple !important;
      font-size: 26px;
  }
  @media only screen and (min-width: 1px) {
      .container{
          padding: 20px !important;
      }
  }
  .site-header{
      display: none;
  }
  .site-content{
      position: relative;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
  }
  .submit{
      display: flex;
      justify-content: center;
      input{
          width: 100% !important;
          background-color: $pink !important;
          border-color: $pink !important;
          line-height: 1rem !important;
      }
  }
}

// Drag system
.progress-container {
  position: fixed;
  right: 0;
  width: 5px;
  height: 100%;
  background: $dark_purple
}

.progress-bar {
  height: 0%;
  background: $purple;
  width: 5px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}


a.link-change-cover-image{
    top: 32px !important;
}



.modal-dialog {
    max-width: 730px;
  }
  
  .wrap-modal-slider {
    padding: 0 30px;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .wrap-modal-slider.open {
    opacity: 1;
  }
  
  .slick-prev:before, .slick-next:before {
    color: red;
  }
