
// mobile
body{
    .site{
        margin: 0 !important;
        &-content{
            min-height: 100vh !important;
            left: 10vw !important;
            width: 90vw !important;
            padding: 0 !important;
            top: 0;
            &-grid {
                z-index: 1000;

            }
            @media screen and (max-width: 799px) {
                left: 0 !important;
                width: 100vw !important;
            }
        }
    }

    &.buddypanel-open{
        .site-content{
            left: 25vw !important;
            width: 75vw !important;
            @media screen and (max-width: 799px) {
                left: 0 !important;
                width: 100vw !important;
            }
        }
    }
    &.register{
        .site-content{
            left: 0 !important;
            min-width: 100vw !important;
        }
    }
}


@media only screen and (max-width: 799px) {
    hr{
        display: none;
    }
  }
