// General
* {
  outline: none !important;
  box-shadow: none !important;
  transition: none !important;
  ::-webkit-scrollbar {
      display: none;
  }
}

body{
  background-color: $white !important;
}


table:not(.ui-datepicker-calendar) {
  td, th {
    padding: 1rem !important;
  }
}
