* {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

* ::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #ffffff !important;
}

table:not(.ui-datepicker-calendar) td, table:not(.ui-datepicker-calendar) th {
  padding: 1rem !important;
}

/** START VENDOR **/
/* IMPORT YOUR VENDORS HERE */
/** END VENDOR **/
.post-grid.bb-standard {
  padding-top: 1.875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.post-grid.bb-standard article {
  width: 50%;
  padding: 0 10px 10px 10px;
}

@media only screen and (max-width: 1440px) {
  .post-grid.bb-standard {
    -webkit-box-orient: vertical  !important;
    -webkit-box-direction: normal  !important;
        -ms-flex-direction: column  !important;
            flex-direction: column  !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .post-grid.bb-standard article {
    width: 100% !important;
  }
}

.login input {
  border-radius: 100px !important;
  border-color: red !important;
}

.site-main > article:hover .entry-meta {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.site-main > article:not(.first):hover .entry-meta {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.site-main > article .entry-meta {
  margin: 40px 0 !important;
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

#Dashboard {
  margin: 0 !important;
  list-style: none !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 100%;
}

#Dashboard li {
  margin-bottom: 20px;
  -webkit-box-flex: 33.3%;
      -ms-flex: 33.3%;
          flex: 33.3%;
  padding: 0 10px;
}

#Dashboard li:nth-child(3n+1) {
  padding: 0 10px 0 0;
}

#Dashboard li:hover a {
  color: #ffffff;
}

#Dashboard li:hover a:before {
  max-height: 100%;
}

#Dashboard li a {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

#Dashboard li a:before {
  position: absolute;
  content: "";
  z-index: -1;
  left: 0;
  width: 100%;
  max-height: 0;
  bottom: 0;
  height: 100%;
  background: #881F6A;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #2D263B), to(#881F6A));
  background: linear-gradient(0deg, #2D263B 5%, #881F6A 100%);
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

body.buddypanel-open .buddypanel {
  width: 25vw !important;
}

body.buddypanel-open .buddypanel .side-panel-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body.buddypanel-open .buddypanel .side-panel-menu li a {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.buddypanel {
  width: 10vw !important;
  bottom: 0;
  height: calc(100% - 336px) !important;
  z-index: 1 !important;
}

.buddypanel .side-panel-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buddypanel .side-panel-menu li a {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.buddypanel .panel-head {
  background: transparent !important;
}

.buddypanel:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #881F6A;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #2D263B), color-stop(85%, #881F6A));
  background: linear-gradient(0deg, #2D263B 5%, #881F6A 85%);
}

.entry-content .em-search-wrapper div.css-search div.em-search-text {
  background: url(../images/search.svg) 0px 3px no-repeat !important;
}

.entry-content .em-search-wrapper div.css-search div.em-search-geo {
  background: url(../images/place.svg) 0px 3px no-repeat !important;
}

.entry-content .em-search-wrapper div.css-search div.em-search-main .em-search-submit {
  background-color: transparent !important;
  background: transparent !important;
  border: none;
}

.entry-content .em-search-wrapper div.css-search div.em-search-main .em-search-submit img {
  mix-blend-mode: difference;
}

.entry-content .events-table tbody tr td {
  font-size: 14px !important;
}

.entry-content .events-table tbody tr td a {
  font-size: 20px !important;
}

.entry-content .events-table tbody tr td i {
  font-size: 12px !important;
}

.css-my-bookings table.fixed {
  position: relative;
}

.site-content {
  position: relative !important;
}

.site-content .site-content-grid,
.site-content .content-area {
  padding: 0 !important;
  max-width: 100% !important;
  margin: 0 !important;
}

.site-content .site-content-grid .post-author-info,
.site-content .content-area .post-author-info {
  display: none;
}

.site-content .buddypress-wrap #cover-image-container {
  border: none !important;
}

.site-content .bp-wrap .bp-subnavs {
  padding: 0 20px !important;
  margin-bottom: 20px !important;
}

.site-content .bp-wrap .main-navs {
  border-top: 1px solid #E7E9EC !important;
  margin-top: 1px !important;
  border-radius: 5px !important;
}

.site-content .bp-wrap .bp-profile-wrapper td {
  padding: 0 !important;
}

.site-content .bp-wrap .subsubsub {
  margin: 40px 0 10px !important;
}

.site-content .bp-messages-container {
  height: 100vh;
}

.site-content .bp-messages-container .bp-messages-nav-panel {
  padding-top: 72px !important;
  background-color: #2D263B;
  position: relative;
}

.site-content .bp-messages-container .bp-messages-nav-panel:before {
  content: "";
  position: absolute;
  background-color: transparent;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  top: 0;
  right: 0px;
  height: 160px;
  width: 80px;
  border-top-left-radius: 160px;
  -webkit-box-shadow: 0 -80px 0 0 #ffffff;
          box-shadow: 0 -80px 0 0 #ffffff;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs {
  float: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 24px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs .subnav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs .subnav li {
  margin: 0 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs .subnav li:not(:first-child) {
  margin-left: 20px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs .subnav:before, .site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs .subnav:after {
  content: none !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs .subnav * {
  color: #ffffff !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .subnav-filters {
  margin: 0 0 0 20px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .subnav-filters input {
  font-size: 14px !important;
  font-family: "Work Sans", sans-serif !important;
  font-weight: 100 !important;
  color: #ffffff !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters {
  width: 100% !important;
  height: 65px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  float: left !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form {
  height: 32px !important;
  background-color: transparent !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form button {
  opacity: 1 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form input,
.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form label {
  display: none;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover input,
.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none !important;
  background-image: none !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover input::-webkit-input-placeholder,
.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover label::-webkit-input-placeholder {
  color: #ffffff;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover input:-ms-input-placeholder,
.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover label:-ms-input-placeholder {
  color: #ffffff;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover input::-ms-input-placeholder,
.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover label::-ms-input-placeholder {
  color: #ffffff;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover input::placeholder,
.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover label::placeholder {
  color: #ffffff;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list {
  clear: both !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item {
  margin-bottom: -1px !important;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
  padding-left: 24px !important;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item * {
  color: rgba(255, 255, 255, 0.3) !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item .thread-avatar {
  margin: 0 12px 0 0 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item .thread-avatar .recipients-count {
  display: none;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item .thread-subject .last-message-sender {
  display: none;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item .thread-to span {
  margin-bottom: 4px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.unread {
  -webkit-box-ordinal-group: 2 !important;
      -ms-flex-order: 1 !important;
          order: 1 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.unread.current {
  -webkit-box-ordinal-group: 2 !important;
      -ms-flex-order: 1 !important;
          order: 1 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.unread * {
  color: #ffffff !important;
  font-weight: 400 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.unread .thread-date time {
  font-family: "Work Sans", sans-serif !important;
  font-weight: 400 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.unread .thread-date time:after {
  background-color: #FA53A8 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.current {
  border-left: 8px solid #FA53A8 !important;
  padding-left: 16px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.current .bp-message-link {
  padding-left: 12px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item * {
  background-color: transparent !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item .bp-message-link {
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
  position: absolute;
  padding: 20px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item .bp-message-link:hover {
  background-color: transparent !important;
}

.site-content .bp-messages-container .bp-messages-content-wrapper {
  padding: 80px 36px !important;
}

.site-content .bp-messages-container .bp-messages-content-wrapper li .bp-avatar-wrap {
  display: none;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list .bp-single-message-wrap {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li:not(.send-by-you) .bp-message-content-wrap {
  background-color: #881F6A;
  border-radius: 90px;
  border-top-left-radius: 0;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li.send-by-you {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li.send-by-you .bp-message-content-wrap {
  background-color: #FA53A8;
  border-radius: 90px;
  border-top-right-radius: 0;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li.send-by-you .bp-single-message-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: flex-end; */
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li .bp-single-message-content .message-metadata .bp-user-link {
  display: none;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li .bp-single-message-content .bp-message-content-wrap {
  color: #ffffff;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  max-width: 50%;
  margin: 0 !important;
  padding: 20px 28px !important;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li .bp-single-message-content .bp-message-content-wrap p {
  margin-bottom: 0 !important;
}

.site-content .bp-messages-container .bp-messages-content-wrapper .bp-user-avatar img {
  width: 50px;
  height: 50px;
}

.site-content article .post-inner-wrap {
  border: none !important;
}

.site-content article .post-inner-wrap .entry-meta {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.site-content article .post-inner-wrap .entry-meta * {
  color: #ffffff;
  font-family: 'chivo';
}

.site-content article .post-inner-wrap .entry-meta .avatar-wrap {
  display: none !important;
}

.site-content article .post-inner-wrap .entry-meta .post-author {
  font-family: 'chivo';
  font-weight: bold;
  font-size: 14px;
}

.site-content article .post-inner-wrap .entry-meta .post-date {
  font-weight: 400;
  font-size: 14px;
}

.site-content article .post-inner-wrap .entry-img {
  position: relative;
  border-radius: 4px !important;
  padding-top: 52.56% !important;
}

.site-content article .post-inner-wrap .entry-img:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: #2d263b;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 38, 59, 0)), to(#2d263b));
  background: linear-gradient(180deg, rgba(45, 38, 59, 0) 0%, #2d263b 100%);
  opacity: 0;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
}

.site-content article.first {
  margin-bottom: 64px !important;
}

.site-content article.first .entry-meta {
  opacity: 1 !important;
  margin-top: 0 !important;
  top: initial !important;
}

.site-content article.first .entry-meta * {
  color: #881F6A;
}

.site-content article:not(.first) .entry-meta {
  -webkit-transition: .2s all  ease-in-out !important;
  transition: .2s all  ease-in-out !important;
  position: relative;
  top: -110%;
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 1;
}

.site-content article:not(.first):hover .entry-meta {
  -webkit-transform: translateY(-20px) !important;
          transform: translateY(-20px) !important;
  opacity: 1 !important;
}

.site-content article:not(.first):hover .entry-img:before {
  opacity: 1;
}

.site-content .comment-author a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #881F6A !important;
}

.ui-datepicker-header {
  border: 1px solid #FA53A8 !important;
  background: #881F6A !important;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
  top: initial !important;
  height: 100%;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #FA53A8 !important;
  background: #881F6A !important;
  color: #ffffff !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #FA53A8 !important;
  background: rgba(136, 31, 106, 0.7) !important;
  color: #ffffff !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #FA53A8 !important;
  background: rgba(136, 31, 106, 0.2) !important;
  color: #881F6A !important;
}

#modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 10vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#modal .modal-content {
  border: none;
  background-clip: unset;
}

#modal .modal-content .close {
  position: absolute;
  right: 5px;
  top: 5px;
}

#modal .modal-body {
  padding: 2rem;
}

#modal .modal-body .carousel-indicators {
  margin-bottom: 0;
  bottom: 0;
}

#modal .modal-body .carousel-indicators li {
  cursor: pointer;
  background-color: #881F6A;
  width: 8px;
  height: 8px;
  border-radius: 90%;
  margin: 0 10px;
}

#modal .modal-body .carousel-indicators li.active {
  background-color: #FA53A8;
}

body .site-header {
  position: fixed;
  padding: 0 !important;
  background-color: transparent;
  pointer-events: none;
}

body .site-header-container {
  height: 100% !important;
  padding: 0 !important;
  max-width: 100% !important;
}

body .site-header .header-search-wrap {
  padding: 0;
  height: 100%;
  width: 25vw;
  z-index: 2000;
  pointer-events: all;
}

body .site-header .header-search-wrap > .container, body .site-header .header-search-wrap form, body .site-header .header-search-wrap label, body .site-header .header-search-wrap input {
  height: 100%;
}

body .site-branding {
  position: relative;
  left: 0;
  top: 176px;
  padding: 48px 0 !important;
  width: 10vw;
  height: 100% !important;
  background-color: #881F6A;
}

body .site-branding:before {
  content: "";
  position: absolute;
  background-color: transparent;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  top: 0;
  right: 0;
  height: 160px;
  width: 80px;
  border-top-left-radius: 160px;
  -webkit-box-shadow: 0 -80px 0 0 #ffffff;
          box-shadow: 0 -80px 0 0 #ffffff;
}

body .site-title {
  width: 100% !important;
  height: 100% !important;
}

body .site-title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

body .site-title a img {
  padding: 0 !important;
  width: 100% !important;
  height: 100% !important;
}

body .main-navigation {
  display: none !important;
}

body .header-aside {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
}

body .header-aside-inner {
  position: relative;
  height: 100%;
  width: 100%;
}

body .header-aside-inner .user-wrap {
  padding: 50px 10px;
  height: 100%;
  width: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: all;
}

body .header-aside-inner .user-wrap .user-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
}

body .header-aside-inner .user-wrap .user-link .user-name {
  display: none;
}

body .header-aside-inner .user-wrap .sub-menu {
  border-radius: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 176px;
  left: 50%;
  width: 10vw;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

body .header-aside-inner .user-wrap .sub-menu:before {
  content: none !important;
}

body .header-aside-inner .user-wrap .sub-menu-inner {
  width: 100%;
}

body .header-aside-inner .user-wrap .sub-menu-inner .user-link {
  padding: 0 10px !important;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

body .header-aside-inner .user-wrap .sub-menu-inner li .ab-sub-wrapper {
  border: 1px solid rgba(0, 0, 0, 0.1);
  left: calc(10vw - 2px) !important;
}

body .header-aside-inner .user-wrap .sub-menu-inner li .ab-sub-wrapper:before {
  left: -5px !important;
  right: initial;
  -webkit-box-shadow: -2px 2px 2px -3px rgba(0, 0, 0, 0.1);
          box-shadow: -2px 2px 2px -3px rgba(0, 0, 0, 0.1);
}

body .header-aside-inner .bb-separator {
  display: none;
}

body .header-aside-inner .header-search-link {
  display: none;
}

body .header-aside-inner .notification-wrap {
  position: absolute;
  top: 0;
  z-index: 1001;
  padding: 0 !important;
  pointer-events: all;
}

body .header-aside-inner .notification-wrap#header-notifications-dropdown-elem {
  right: 80px;
}

body .header-aside-inner .notification-wrap#header-messages-dropdown-elem {
  right: 40px;
}

body.buddypanel-open .site-branding {
  margin: 0 !important;
  width: 25vw !important;
}

body.buddypanel-open .site .header-aside {
  position: absolute;
  left: 0;
}

body.buddypanel-open .site .header-aside-inner {
  width: 100%;
}

body.buddypanel-open .site .header-aside-inner .user-wrap {
  width: 25vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body.buddypanel-open .site .header-aside-inner .user-wrap .user-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

body.buddypanel-open .site .header-aside-inner .user-wrap .user-link .user-name {
  display: block;
}

body.buddypanel-open .site .header-aside-inner .user-wrap .sub-menu {
  width: 25vw !important;
}

body.buddypanel-open .site .header-aside-inner .user-wrap .sub-menu li .ab-sub-wrapper {
  left: calc(25vw - 2px) !important;
}

body.buddypanel-open .site .header-aside-inner .header-search-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  right: 31px;
  pointer-events: all;
}

@media screen and (max-width: 799px) {
  .progress-container {
    display: none;
  }
  .site-header {
    width: 100%;
    background-color: #881F6A !important;
  }
  .site-header .header-aside {
    height: auto;
    width: auto;
    left: initial !important;
    right: 0;
  }
  .site-header .bb-left-panel-icon-wrap {
    pointer-events: all;
  }
  .site-header .bb-mobile-panel-wrapper {
    background-color: transparent !important;
  }
  .site-header .bb-mobile-panel-wrapper:not(.closed) {
    width: 100vw;
  }
  .site-header .bb-mobile-panel-wrapper:not(.closed) .bb-close-panel {
    z-index: 1001;
    height: initial;
    width: initial;
  }
  .site-header .bb-mobile-panel-wrapper:not(.closed) .bb-close-panel .bb-icon-close {
    right: initial !important;
    left: 4px;
  }
  .site-header .bb-mobile-panel-wrapper:not(.closed) .bb-login-section {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0px;
  }
  .site-header .bb-mobile-panel-wrapper:not(.closed) .buddypanel-menu {
    padding: 160px 68px 68px 68px;
    position: relative;
  }
  .site-header .bb-mobile-panel-wrapper:not(.closed) .buddypanel-menu:before {
    content: "";
    position: absolute;
    background-color: transparent;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    top: 0;
    right: 0;
    z-index: 5;
    pointer-events: none;
    height: 160px;
    width: 80px;
    border-top-left-radius: 160px;
    -webkit-box-shadow: 0 -80px 0 0 #ffffff;
            box-shadow: 0 -80px 0 0 #ffffff;
  }
  .site-header .bb-mobile-panel-wrapper:not(.closed) .buddypanel-menu .menu-item {
    margin: 5px;
  }
  .site-header .bb-mobile-panel-wrapper.closed {
    left: 0 !important;
    top: initial !important;
    bottom: 0;
    height: 100px !important;
    width: 100% !important;
    border-top-right-radius: 80px;
    pointer-events: all;
  }
  .site-header .bb-mobile-panel-wrapper.closed .bb-mobile-panel-header {
    display: none;
  }
  .site-header .bb-mobile-panel-wrapper.closed .menu-item-66, .site-header .bb-mobile-panel-wrapper.closed .menu-item-74, .site-header .bb-mobile-panel-wrapper.closed .menu-item-83, .site-header .bb-mobile-panel-wrapper.closed .menu-item-86, .site-header .bb-mobile-panel-wrapper.closed .bb-login-section {
    display: none !important;
  }
  .site-header .bb-mobile-panel-wrapper.closed .buddypanel-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 100px;
    margin: 0;
  }
  .site-header .bb-mobile-panel-wrapper.closed .buddypanel-menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 25%;
        -ms-flex: 25%;
            flex: 25%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .site-header .bb-mobile-panel-wrapper.closed .buddypanel-menu li a {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .site-header .bb-mobile-panel-wrapper.closed .buddypanel-menu li a span {
    display: none;
  }
  .site-header .bb-mobile-panel-inner {
    padding: 0;
  }
  .site-header .bb-mobile-panel-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 292px !important;
    background-color: #ffffff;
  }
  .site-header .bb-mobile-panel-header .user-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-header .bb-mobile-panel-header .user-wrap a img {
    margin: 0 !important;
  }
  .site-header .bb-mobile-panel-header .user-wrap > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .site-header .bb-mobile-panel-header .user-wrap .user-name {
    color: #881F6A;
  }
  .bb-mobile-header .mobile-logo-wrapper {
    width: 100vw;
    padding: 0;
    position: absolute;
    z-index: -1;
  }
}

body .avatar, body .group-avatar-wrap {
  border-radius: 90% !important;
  max-width: 100px !important;
  max-height: 100px !important;
}

body.messages .progress-container {
  display: none;
}

body.messages .bp-messages-nav-panel {
  border: none !important;
}

body.messages .bp-messages-nav-panel * {
  border: none !important;
}

body.messages .user-wrap:before {
  content: "";
  position: absolute;
  background-color: transparent;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  top: 0;
  right: 0;
  z-index: 5;
  pointer-events: none;
  height: 160px;
  width: 80px;
  border-top-left-radius: 160px;
  -webkit-box-shadow: 0 -80px 0 0 #2D263B;
          box-shadow: 0 -80px 0 0 #2D263B;
}

.messages-wrapper {
  border: none !important;
}

@media only screen and (max-width: 1599px) and (min-width: 800px) {
  body .site-content > .container {
    padding: 0 20px !important;
  }
}

@media only screen and (max-width: 799px) {
  body .site-content > .container {
    padding: 100px 20px 160px 20px !important;
  }
}

body.single-post .entry-meta {
  -webkit-transform: none !important;
          transform: none !important;
}

body.single-post .entry-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.single-post .entry-content-wrap .entry-media {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body.single-post .entry-content-wrap .entry-header {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body.single-post .entry-content-wrap .entry-meta {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

body.single-post .entry-content-wrap .entry-content {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

body.messages:not(.group-type-bedrijf) {
  overflow-y: hidden;
}

body.messages:not(.group-type-bedrijf) .site-content > .container {
  padding: 0 !important;
  max-width: 100% !important;
}

body.messages:not(.group-type-bedrijf) .site-content .content-area {
  padding-top: 0 !important;
}

body.messages:not(.group-type-bedrijf) .bs-bp-container {
  position: relative;
}

@media only screen and (max-width: 799px) {
  body.messages:not(.group-type-bedrijf) .bs-bp-container {
    left: 0 !important;
  }
}

figure.entry-img {
  width: 100% !important;
  margin-left: 0 !important;
  margin: 0 0 32px !important;
}

body.single-post .entry-meta {
  display: block;
  opacity: 1;
  -webkit-transform: translate(0) !important;
          transform: translate(0) !important;
}

body.register .register-section-logo, body.login .register-section-logo {
  font-family: 'Work sans';
  font-weight: bolder;
  color: #881F6A !important;
  font-size: 26px;
}

@media only screen and (min-width: 1px) {
  body.register .container, body.login .container {
    padding: 20px !important;
  }
}

body.register .site-header, body.login .site-header {
  display: none;
}

body.register .site-content, body.login .site-content {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body.register .submit, body.login .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.register .submit input, body.login .submit input {
  width: 100% !important;
  background-color: #FA53A8 !important;
  border-color: #FA53A8 !important;
  line-height: 1rem !important;
}

.progress-container {
  position: fixed;
  right: 0;
  width: 5px;
  height: 100%;
  background: #2D263B;
}

.progress-bar {
  height: 0%;
  background: #881F6A;
  width: 5px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

a.link-change-cover-image {
  top: 32px !important;
}

.modal-dialog {
  max-width: 730px;
}

.wrap-modal-slider {
  padding: 0 30px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.wrap-modal-slider.open {
  opacity: 1;
}

.slick-prev:before, .slick-next:before {
  color: red;
}

body .site {
  margin: 0 !important;
}

body .site-content {
  min-height: 100vh !important;
  left: 10vw !important;
  width: 90vw !important;
  padding: 0 !important;
  top: 0;
}

body .site-content-grid {
  z-index: 1000;
}

@media screen and (max-width: 799px) {
  body .site-content {
    left: 0 !important;
    width: 100vw !important;
  }
}

body.buddypanel-open .site-content {
  left: 25vw !important;
  width: 75vw !important;
}

@media screen and (max-width: 799px) {
  body.buddypanel-open .site-content {
    left: 0 !important;
    width: 100vw !important;
  }
}

body.register .site-content {
  left: 0 !important;
  min-width: 100vw !important;
}

@media only screen and (max-width: 799px) {
  hr {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */