body.messages .bp-messages-nav-panel {
    border: none !important;
    & * {
        border: none !important;
    }
}


body {
    .avatar, .group-avatar-wrap {
        border-radius: 90% !important;
        max-width: 100px !important;
        max-height: 100px !important;
    }

    footer {
        display: none !important;
    }
}

body.messages:not(.group-type-bedrijf) .header-aside {

    &:before {
        content: "";
        position: absolute;
        background-color: transparent;
        transform: rotateY(180deg);
        top: 0;
        right: 0;
        height: 160px;
        width: 80px;
        border-top-left-radius: 160px;
        box-shadow: 0 -80px 0 0 $dark_purple;
    }
}


.site-header {
    z-index: 611 !important;
    padding: 0 !important;
    top: 0 !important;

    &-container {
        padding: 0 !important;
        height: auto !important;
        flex-direction: column-reverse;

        .header-aside {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100% !important;
            min-height: 216px;
            background-color: $white;
            position: relative;

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                background-color: $dark_purple;
                z-index: -1;
            }

            a.user-link {
                flex-direction: row-reverse;

                .user-name {
                    display: none;
                }
            }
        }
    }
}

.buddypanel {
    width: 10vw !important;
    bottom: 0;
    height: calc(100% - 336px) !important;

    .side-panel-menu li {
        display: flex;
        justify-content: center;

        a {
            width: 100% !important;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
    }
    .panel-head {
        background: transparent !important;
    }

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $purple;
        background: linear-gradient(0deg, $dark_purple 5%, $purple 100%);
    }
}

body.buddypanel-open {
    .buddypanel {
        width: 25vw !important;

        .side-panel-menu li {
            display: flex;
            justify-content: flex-start;
            a {
                width: 100% !important;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }
        }
    }

    .site-header {
        width: 25vw !important;

        @media only screen and (max-width: 799px) {
            width: 100% !important;
        }
    }
}


.site-header {
    position: fixed;
    left: 0;
    height: auto;
    width: 10vw !important;

    .site-branding {
        width: 100%;
        background-color: $purple;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 120px !important;
        position: relative;

        &:before {
            content: "";
            position: absolute;
            background-color: transparent;
            transform: rotateY(180deg);
            top: 0;
            right: 0;
            height: 160px;
            width: 80px;
            border-top-left-radius: 160px;
            box-shadow: 0 -80px 0 0 $white;
        }
    }
}

.side-panel-inner {
    .bp-menu {
        &:hover {

            span.count {
                color: $pink;
            }
        }

        span.count {
            padding: 0 !important;
            left: 36px;
            top: -4px;
            position: absolute;
            height: 12px !important;
            width: 12px !important;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 90% !important;
            background-color: $white;
            color: $purple;
            font-weight: 900;
        }
    }
}

.messages-wrapper {
    border: none !important;
}

.site-content {
    position: relative !important;
    .site-content-grid,
    .content-area {
        padding: 0 !important;
        max-width: 100% !important;
        margin: 0 !important;
        .post-author-info{
            display: none;
        }
    }
    .buddypress-wrap {
        #cover-image-container {
            border: none !important;
        }
    }
    .bp-wrap {
        .bp-subnavs {
            padding: 0 20px !important;
            margin-bottom: 20px !important;
        }

        .main-navs {
            border-top: 1px solid $border !important;
            margin-top: 1px !important;
            border-radius: 5px !important;
        }

        .bp-profile-wrapper {

            td {
                padding: 0 !important;
            }
        }

        .subsubsub {
            margin: 40px 0 10px !important;
        }
    }

    .bp-messages-container {
        height: 100vh;

        .bp-messages-nav-panel {
            padding-top: 72px !important;
            background-color: $dark_purple;
            position: relative;

            &:before {
                content: "";
                position: absolute;
                background-color: transparent;
                transform: rotateY(180deg);
                top: 0;
                right: 0px;
                height: 160px;
                width: 80px;
                border-top-left-radius: 160px;
                box-shadow: 0 -80px 0 0 $white;
            }

            .bp-subnavs {
                float: left;
                width: fit-content;
                justify-content: space-between;
                display: flex;
                padding: 0 0 0 24px !important;

                .subnav {
                    justify-content: flex-start;
                    // align-items: center;
                    // padding: 32px;
                    li{
                        margin: 0 !important;
                        &:not(:first-child){
                            margin-left: 20px !important;
                        }
                    }
                    &:before,
                    &:after {
                        content: none !important;
                    }

                    * {
                        color: $white !important;
                    }
                }
            }
            .subnav-filters{
                margin: 0 0 0 20px !important;
                input{
                    font-size: 14px !important;
                    font-family: "Work Sans", sans-serif !important;
                    font-weight: 100 !important;
                    color: $white !important;
                }
            }

            .bp-messages-filters {
                width: 100% !important;
                height: 65px !important;
                display: flex !important;
                float: left !important;
                .user-messages-search {

                    .bp-search.messages-search {
                        form {
                            height: 32px !important;
                            background-color: transparent !important;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            button {
                                opacity: 1 !important;
                            }
                            input,
                            label {
                                display: none;
                            }

                            &:hover {

                                input,
                                label {
                                    display: flex;
                                    background: none !important;
                                    background-image: none !important;

                                    &::placeholder {
                                        color: $white;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .bp-messages-threads-list {
                clear: both !important;

                .message-lists {
                    display: flex;
                    flex-direction: column;

                    .thread-item {
                        margin-bottom: -1px !important;
                        height: 100px;
                        display: flex;
                        align-items: center;
                        border-bottom: 1px solid rgba($color: $white, $alpha: .3) !important;
                        padding-left: 24px !important;
                        order: 2;

                        * {
                            color: rgba($color: $white, $alpha: .3) !important;
                        }

                        .thread {
                            &-avatar {
                                margin: 0 12px 0 0 !important;
                                .recipients-count{
                                    display: none;
                                }
                            }

                            &-subject {

                                .last-message-sender {
                                    display: none;
                                }
                            }

                            &-to {

                                span {
                                    margin-bottom: 4px !important;
                                }
                            }
                        }

                        &.unread {
                            order: 1 !important;

                            &.current {
                                order: 1 !important;
                            }

                            * {
                                color: $white !important;
                                font-weight: 400 !important;
                            }
                            .thread-date{
                                time{
                                    font-family: "Work Sans", sans-serif !important;
                                    font-weight: 400 !important;
                                    &:after{
                                        background-color: $pink !important;
                                    }
                                }
                            }
                        }

                        &.current {
                            border-left: 8px solid $pink !important;
                            padding-left: 16px !important;

                            .bp-message-link {
                                padding-left: 12px !important;
                            }
                        }
                        *{
                            background-color: transparent !important;
                        }
                        .bp-message-link{
                            height: 100%;
                            width: 100%;
                            right: 0;
                            left: 0;
                            position: absolute;
                            padding: 20px !important;
                            &:hover{
                                background-color: transparent !important;
                            }
                        }
                    }
                }
            }
        }
        .bp-messages-content-wrapper{
            padding: 80px 36px !important;
            li{
                .bp-avatar-wrap{
                    display: none;
                }
            }
            #bp-message-thread-list{
                .bp-single-message-wrap{
                    width: 100%;
                    flex-direction: column;
                }
                li{
                    &:not(.send-by-you){
                        .bp-message-content-wrap{
                            background-color: $purple;
                            border-radius: 90px;
                            border-top-left-radius: 0;
                        }
                    }
                    &.send-by-you{
                        display: flex;
                        justify-content: flex-end;
                        .bp-message-content-wrap{
                            background-color: $pink;
                            border-radius: 90px;
                            border-top-right-radius: 0;
                        }
                        .bp-single-message-content{
                            display: flex;
                            /* justify-content: flex-end; */
                            flex-direction: inherit;
                            align-items: flex-end;
                        }
                    }
                    .bp-single-message-content{
                        .message-metadata{
                            .bp-user-link{
                                display: none;
                            }
                        }
                        .bp-message-content-wrap{
                            color: $white;
                            width: fit-content !important;
                            max-width: 50%;
                            margin: 0 !important;
                            padding: 20px 28px !important;
                            p{
                                margin-bottom: 0 !important;
                            }
                        }
                    }
                }
            }
            .bp-user-avatar{
                img{
                    width: 50px;
                    height: 50px;
                }
            }
        }
    }
    article{
        .post-inner-wrap {
            border: none !important;
                .entry-meta{
                    width: fit-content;
                    * {
                        color: $white;
                        font-family: 'chivo';
                    }
                .avatar-wrap{
                    display: none !important;
                }
                .post-author{
                    font-family: 'chivo';
                    font-weight: bold;
                    font-size: 14px;
                }
                .post-date{
                    font-weight: 400;
                    font-size: 14px;
                }
            }
            .entry-img{
                position: relative;
                border-radius: 24px !important;
                padding-top: 52.56% !important;
                &:before{
                    content: "";
                    position: absolute;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    z-index: 1;
                    background: rgb(45,38,59);
                    background: linear-gradient(180deg, rgba(45,38,59,0) 0%, rgba(45,38,59,1) 100%);
                    opacity: 0;
                    transition: .3s all ease-in;
                }
            }
        }

        &.first {
            margin-bottom: 64px !important;
            .entry-meta{
                opacity: 1 !important;
                margin-top: 0 !important;
                top: initial !important;
                *{
                    color: $purple;
                }
            }
        }
    &:not(.first){
            .entry-meta{
                transition: .2s all  ease-in-out !important;
                position: relative;
                top: -110%;
                opacity: 0;
                transform: translateY(0);
                z-index: 1;
            }
            &:hover{
                .entry-meta{
                    transform: translateY(-20px) !important;
                    opacity: 1 !important;
                }
                .entry-img{
                    &:before{
                        opacity: 1;
                    }
                }
            }
        }
    }
    .comment-author a{
        font-family: 'Work Sans', sans-serif;
        font-weight: 500 !important;
        font-size: 16px !important;
        color: $purple !important;
    }
}


body{
    &:not(.messages, .register){
        .site-content{
            @media only screen and (max-width: 1599px) and (min-width: 800px)  {
            > .container{
                padding: 0 20px !important;
                }
            }
            @media only screen and (max-width: 799px)  {
            > .container{
                padding: 229px 20px 0!important;
                }
            }
        }
    }

    &.single-post{
        .entry-meta {
            transform: none !important;
        }
        .entry-content-wrap {
            display: flex;
            flex-direction: column;
            .entry-media {
                order: 2;
            }
            .entry-header {
                order: 1;
            }
            .entry-meta {
                order: 4;
            }
            .entry-content {
                order: 3;
            }

        }
    }

    &.messages:not(.group-type-bedrijf){
        overflow-y: hidden;
        .site-content{
                > .container{
                    padding: 0 !important;
                    max-width: 100% !important;
                }
            .content-area{
                padding-top: 0 !important;
            }
        }
        .bs-bp-container{
            position: relative;
            @media only screen and (max-width: 799px) {
                left: 0 !important;
            }
        }
    }
}


figure.entry-img{
    width: 100% !important;
    margin-left: 0 !important;
    margin: 0 0 32px !important;
}

body.single-post{
    .entry-meta{
        display: block;
        opacity: 1;
        transform: translate(0) !important;
    }
}


.notification-dropdown{
    left: -15px !important;
}

body.register, body.login{
    .register-section-logo{
        font-family: 'Work sans';
        font-weight: bolder;
        color: $purple !important;
        font-size: 26px;
    }
    @media only screen and (min-width: 1px) {
        .container{
            padding: 20px !important;
        }
    }
    .site-header{
        display: none;
    }
    .site-content{
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    .submit{
        display: flex;
        justify-content: center;
        input{
            width: 100% !important;
            background-color: $pink !important;
            border-color: $pink !important;
            line-height: 1rem !important;
        }
    }
}

.sub-menu{
    border: 1px solid $border;
    .ab-sub-wrapper{
        border: 1px solid $border;
        right: -187px !important;
        left: initial !important;
        &::before{
            left: -5px !important;
            right: initial !important;
        }
    }
}

