// variables
$pink: #D42EA2;
$purple: #881F6A;
$dark_purple: #381948;
$white: #ffffff;
$border: #E7E9EC;

// General
* {
  outline: none !important;
  box-shadow: none !important;
  transition: none !important;
  ::-webkit-scrollbar {
      display: none;
  }
}

body{
  background-color: $white !important;
}


td, th {
  padding: 1rem !important;
}

input {
  border-radius: 25px !important;
  border-color: $purple !important;
  font-family: 'chivo' !important;
  font-size: 17px !important;
  &:not([type=submit]){
      line-height: 20px !important;
      font-weight: 500 !important;
      color: $purple !important;
  }
}
