
// mobile
@media only screen and (max-width: 799px) {
    hr, .menu-item-83, .menu-item-76{
        display: none;
    }
    // .site-header{
    //     position: fixed !important;
    //     width: 100% !important;
    //     background-color: $purple !important;
    //     height: 164px;
    //     display: flex;
    //     align-items: center;
    //     &:before{
    //         content: "";
    //         position: absolute;
    //         background-color: transparent;
    //         transform: rotateY(180deg);
    //         bottom: -160px;
    //         right: 0;
    //         height: 160px;
    //         width: 80px;
    //         border-top-left-radius: 160px;
    //         box-shadow: 0 -80px 0 0 $purple;
    //     }
    //     .bb-mobile-header-wrapper{
    //         z-index: 1000;
    //         position: absolute;
    //         width: 100%;
    //         .bb-mobile-header{
    //             width: 100%;
    //             .bb-icon-menu-left{
    //                 color: $white;
    //             }
    //             &.active_menu{
    //                 position: relative;
    //                 .bb-icon-menu-left{
    //                     color: $purple;
    //                 }
    //                 .site-title{
    //                     position: absolute;
    //                     top: 220px;
    //                 }
    //             }
    //             .mobile-logo-wrapper{
    //                 left: 0;
    //                 right: 0;
    //                 z-index: 1000;
    //                 justify-content: center;
    //                 img{
    //                     max-height: 100% !important;
    //                     width: 100px !important;
    //                     padding: 0 !important;
    //                 }
    //             }
    //             .header-aside{
    //                 display: none;
    //             }
    //         }
    //     }
    //     .bb-mobile-panel-wrapper{
    //         width: 100% !important;
    //         .bb-mobile-panel-inner{
    //             padding: 0 !important;
    //             background: $purple;
    //             &:before{
    //                 content: "";
    //                 position: absolute;
    //                 background-color: transparent;
    //                 transform: rotateY(180deg);
    //                 top: 222px;
    //                 right: 0;
    //                 height: 160px;
    //                 width: 80px;
    //                 border-top-left-radius: 160px;
    //                 box-shadow: 0 -80px 0 0 $white;
    //             }
    //             .side-panel-menu>li{
    //                 min-height: 56px !important;
    //             }
    //             .bb-mobile-panel-header{
    //                 background-color: $white;
    //                 *{
    //                     color: $dark_purple;
    //                 }
    //                 .user-wrap{
    //                     padding: 40px !important;
    //                     align-items: center;
    //                     justify-content: center;
    //                     flex-direction: column;
    //                     div{
    //                         display: flex;
    //                         flex-direction: column;
    //                         align-items: center;
    //                     }
    //                     .avatar{
    //                         margin-right: 0 !important;
    //                     }
    //                 }
    //             }
    //         }
    //         &.closed{
    //             left: -300% !important;
    //         }

    //     }
    //     .buddypanel-menu{
    //         border-top-right-radius: 90px !important;
    //         padding: 140px 80px 56px 80px !important;
    //     }
    // }
}


body{
    .site{
        margin: 0 !important;
        &-content{
            min-height: 100vh !important;
            left: 10vw !important;
            width: 90vw !important;
            padding: 0 !important;
            top: 0;
            @media screen and (max-width: 799px) {
                left: 0 !important;
                width: 100vw !important;
            }
        }
    }
    &.buddypanel-open{
        .site-content{
            left: 25vw !important;
            width: 75vw !important;
                @media screen and (max-width: 799px) {
                    left: 0 !important;
                    width: 100vw !important;
                }
        }
    }

    &.register{
        .site-content{
            left: 0 !important;
            min-width: 100vw !important;
        }
    }
}


.site-main{
    > article{
        &:hover{
            .entry-meta{
                transform: translateY(0) !important;
            }
        }
        &:not(.first){
            &:hover{
                .entry-meta{
                    transform: translateY(0) !important;
                }
            }
        }
        .entry-meta{
            margin: 40px 0 !important;
            opacity: 1 !important;
            transform: translateY(0) !important;
        }
    }
}
