// Drag system
.progress-container {
  position: fixed;
  right: 0;
  width: 5px;
  height: 100%;
  background: $dark_purple
}

.progress-bar {
  height: 0%;
  background: $purple;
  width: 5px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
