// Open
body.buddypanel-open {
  .buddypanel {
      width: 25vw !important;

      .side-panel-menu li {
          display: flex;
          justify-content: flex-start;
          a {
              width: 100% !important;
              display: flex;
              align-items: center;
              justify-content: flex-start;
          }
      }
  }
}


// Closed
.buddypanel {
  width: 10vw !important;
  bottom: 0;
  height: calc(100% - 336px) !important;
  z-index: 1 !important;

  .side-panel-menu li {
      display: flex;
      justify-content: center;

      a {
          width: 100% !important;
          display: flex;
          align-items: center;
          justify-content: flex-start;
      }
  }
  .panel-head {
      background: transparent !important;
  }

  &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: $purple;
      background: linear-gradient(0deg, $dark_purple 5%, $purple 85%);
  }
}
