.ui-datepicker {
  &-header {
    border: 1px solid $pink !important;
    background: $purple !important;
    display: grid;
    align-items: center;
  }
  &-prev, &-next {
    top: initial !important;
    height: 100%;

  }
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid $pink !important;
  background: $purple !important;
  color: $white !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid $pink !important;
  background: rgba($color: $purple, $alpha: .7) !important;
  color: $white !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid $pink !important;
  background: rgba($color: $purple, $alpha: .2) !important;
  color: $purple !important;
}
