// Evenementen
.entry-content{
  .em-search-wrapper{
      div.css-search div.em-search-text{
          background: url(../images/search.svg) 0px 3px no-repeat !important;

      }

      div.css-search div.em-search-geo{
          background: url(../images/place.svg) 0px 3px no-repeat !important;
      }

      div.css-search div.em-search-main .em-search-submit{
          background-color: transparent !important;
          background: transparent !important;
          border: none;
          img{
              mix-blend-mode: difference;
          }
      }
  }
  .events-table{
      tbody{
          tr{
              td{
                  font-size: 14px !important;
                  a{
                      font-size: 20px !important;
                  }
                  i{
                      font-size: 12px !important;
                  }
              }
          }
      }
  }
}

.css-my-bookings {
    table.fixed {
        position: relative;
    }
}
