.site-content {
  position: relative !important;
  .site-content-grid,
  .content-area {
      padding: 0 !important;
      max-width: 100% !important;
      margin: 0 !important;
      .post-author-info{
          display: none;
      }
  }
  .buddypress-wrap {
      #cover-image-container {
          border: none !important;
      }
  }
  .bp-wrap {
      .bp-subnavs {
          padding: 0 20px !important;
          margin-bottom: 20px !important;
      }

      .main-navs {
          border-top: 1px solid $border !important;
          margin-top: 1px !important;
          border-radius: 5px !important;
      }

      .bp-profile-wrapper {

          td {
              padding: 0 !important;
          }
      }

      .subsubsub {
          margin: 40px 0 10px !important;
      }
  }

  .bp-messages-container {
      height: 100vh;

      .bp-messages-nav-panel {
          padding-top: 72px !important;
          background-color: $dark_purple;
          position: relative;

          &:before {
              content: "";
              position: absolute;
              background-color: transparent;
              transform: rotateY(180deg);
              top: 0;
              right: 0px;
              height: 160px;
              width: 80px;
              border-top-left-radius: 160px;
              box-shadow: 0 -80px 0 0 $white;
          }

          .bp-subnavs {
              float: left;
              width: fit-content;
              justify-content: space-between;
              display: flex;
              padding: 0 0 0 24px !important;

              .subnav {
                  justify-content: flex-start;
                  // align-items: center;
                  // padding: 32px;
                  li{
                      margin: 0 !important;
                      &:not(:first-child){
                          margin-left: 20px !important;
                      }
                  }
                  &:before,
                  &:after {
                      content: none !important;
                  }

                  * {
                      color: $white !important;
                  }
              }
          }
          .subnav-filters{
              margin: 0 0 0 20px !important;
              input{
                  font-size: 14px !important;
                  font-family: "Work Sans", sans-serif !important;
                  font-weight: 100 !important;
                  color: $white !important;
              }
          }

          .bp-messages-filters {
              width: 100% !important;
              height: 65px !important;
              display: flex !important;
              float: left !important;
              .user-messages-search {

                  .bp-search.messages-search {
                      form {
                          height: 32px !important;
                          background-color: transparent !important;
                          display: flex;
                          align-items: center;
                          justify-content: space-between;

                          button {
                              opacity: 1 !important;
                          }
                          input,
                          label {
                              display: none;
                          }

                          &:hover {

                              input,
                              label {
                                  display: flex;
                                  background: none !important;
                                  background-image: none !important;

                                  &::placeholder {
                                      color: $white;
                                  }
                              }
                          }
                      }
                  }
              }
          }

          .bp-messages-threads-list {
              clear: both !important;

              .message-lists {
                  display: flex;
                  flex-direction: column;

                  .thread-item {
                      margin-bottom: -1px !important;
                      height: 100px;
                      display: flex;
                      align-items: center;
                      border-bottom: 1px solid rgba($color: $white, $alpha: .3) !important;
                      padding-left: 24px !important;
                      order: 2;

                      * {
                          color: rgba($color: $white, $alpha: .3) !important;
                      }

                      .thread {
                          &-avatar {
                              margin: 0 12px 0 0 !important;
                              .recipients-count{
                                  display: none;
                              }
                          }

                          &-subject {

                              .last-message-sender {
                                  display: none;
                              }
                          }

                          &-to {

                              span {
                                  margin-bottom: 4px !important;
                              }
                          }
                      }

                      &.unread {
                          order: 1 !important;

                          &.current {
                              order: 1 !important;
                          }

                          * {
                              color: $white !important;
                              font-weight: 400 !important;
                          }
                          .thread-date{
                              time{
                                  font-family: "Work Sans", sans-serif !important;
                                  font-weight: 400 !important;
                                  &:after{
                                      background-color: $pink !important;
                                  }
                              }
                          }
                      }

                      &.current {
                          border-left: 8px solid $pink !important;
                          padding-left: 16px !important;

                          .bp-message-link {
                              padding-left: 12px !important;
                          }
                      }
                      *{
                          background-color: transparent !important;
                      }
                      .bp-message-link{
                          height: 100%;
                          width: 100%;
                          right: 0;
                          left: 0;
                          position: absolute;
                          padding: 20px !important;
                          &:hover{
                              background-color: transparent !important;
                          }
                      }
                  }
              }
          }
      }
      .bp-messages-content-wrapper{
          padding: 80px 36px !important;
          li{
              .bp-avatar-wrap{
                  display: none;
              }
          }
          #bp-message-thread-list{
              .bp-single-message-wrap{
                  width: 100%;
                  flex-direction: column;
              }
              li{
                  &:not(.send-by-you){
                      .bp-message-content-wrap{
                          background-color: $purple;
                          border-radius: 90px;
                          border-top-left-radius: 0;
                      }
                  }
                  &.send-by-you{
                      display: flex;
                      justify-content: flex-end;
                      .bp-message-content-wrap{
                          background-color: $pink;
                          border-radius: 90px;
                          border-top-right-radius: 0;
                      }
                      .bp-single-message-content{
                          display: flex;
                          /* justify-content: flex-end; */
                          flex-direction: inherit;
                          align-items: flex-end;
                      }
                  }
                  .bp-single-message-content{
                      .message-metadata{
                          .bp-user-link{
                              display: none;
                          }
                      }
                      .bp-message-content-wrap{
                          color: $white;
                          width: fit-content !important;
                          max-width: 50%;
                          margin: 0 !important;
                          padding: 20px 28px !important;
                          p{
                              margin-bottom: 0 !important;
                          }
                      }
                  }
              }
          }
          .bp-user-avatar{
              img{
                  width: 50px;
                  height: 50px;
              }
          }
      }
  }
  article{
      .post-inner-wrap {
          border: none !important;
              .entry-meta{
                  width: fit-content;
                  * {
                      color: $white;
                      font-family: 'chivo';
                  }
              .avatar-wrap{
                  display: none !important;
              }
              .post-author{
                  font-family: 'chivo';
                  font-weight: bold;
                  font-size: 14px;
              }
              .post-date{
                  font-weight: 400;
                  font-size: 14px;
              }
          }
          .entry-img{
              position: relative;
              border-radius: 4px !important;
              padding-top: 52.56% !important;
              &:before{
                  content: "";
                  position: absolute;
                  left: 0;
                  right: 0;
                  top: 0;
                  bottom: 0;
                  z-index: 1;
                  background: rgb(45,38,59);
                  background: linear-gradient(180deg, rgba(45,38,59,0) 0%, rgba(45,38,59,1) 100%);
                  opacity: 0;
                  transition: .3s all ease-in;
              }
          }
      }

      &.first {
          margin-bottom: 64px !important;
          .entry-meta{
              opacity: 1 !important;
              margin-top: 0 !important;
              top: initial !important;
              *{
                  color: $purple;
              }
          }
      }
  &:not(.first){
          .entry-meta{
              transition: .2s all  ease-in-out !important;
              position: relative;
              top: -110%;
              opacity: 0;
              transform: translateY(0);
              z-index: 1;
          }
          &:hover{
              .entry-meta{
                  transform: translateY(-20px) !important;
                  opacity: 1 !important;
              }
              .entry-img{
                  &:before{
                      opacity: 1;
                  }
              }
          }
      }
  }
  .comment-author a{
      font-family: 'Work Sans', sans-serif;
      font-weight: 500 !important;
      font-size: 16px !important;
      color: $purple !important;
  }
}
