

#modal {
  display: flex;
  width: 100%;
  height: 10vh;
  align-items: center;
  justify-content: center;
  .modal {
    &-content {
      border: none;
      background-clip: unset;
      .close {
        position: absolute;
        right: 5px;
        top: 5px;
      }
    }
    &-body{
      padding: 2rem;
      .carousel-indicators {
       margin-bottom: 0;
       bottom: 0;
        li {
          cursor: pointer;
          background-color: $purple;
          width: 8px;
          height: 8px;
          border-radius: 90%; 
          margin: 0 10px;
          &.active {
            background-color: $pink;
          }
        }
      }
    }
  }
}
