// .notification-dropdown{
//   left: -15px !important;
// }

// #header-messages-dropdown-elem{
//   top: -36px;
//   justify-self: flex-end;

// }
// #header-notifications-dropdown-elem{
//   top: -36px;
//   justify-self: flex-start;
// }



// .header-aside-inner{
//   display: flex;
//   justify-items: center;
//   width: 100%;
//   height: 100%;

//   .user-wrap{
//       // width: 100%;
//       .user-link{
//           display: flex;
//           flex-direction: column-reverse;
//           height: 100%;
//           width: 100%;
//           img{
//               max-width: 10vw !important;
//           }
//       }
//   }
// }
