* {
  outline: none !important;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-transition: none !important;
  transition: none !important;
}

* ::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #ffffff !important;
}

td, th {
  padding: 1rem !important;
}

input {
  border-radius: 25px !important;
  border-color: #881F6A !important;
  font-family: 'chivo' !important;
  font-size: 17px !important;
}

input:not([type=submit]) {
  line-height: 20px !important;
  font-weight: 500 !important;
  color: #881F6A !important;
}

.progress-container {
  position: fixed;
  right: 0;
  width: 5px;
  height: 100%;
  background: #381948;
}

.progress-bar {
  height: 0%;
  background: #881F6A;
  width: 5px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.entry-content .em-search-wrapper div.css-search div.em-search-text {
  background: url(../images/search.svg) 0px 3px no-repeat !important;
}

.entry-content .em-search-wrapper div.css-search div.em-search-geo {
  background: url(../images/place.svg) 0px 3px no-repeat !important;
}

.entry-content .em-search-wrapper div.css-search div.em-search-main .em-search-submit {
  background-color: transparent !important;
  background: transparent !important;
  border: none;
}

.entry-content .em-search-wrapper div.css-search div.em-search-main .em-search-submit img {
  mix-blend-mode: difference;
}

.entry-content .events-table tbody tr td {
  font-size: 14px !important;
}

.entry-content .events-table tbody tr td a {
  font-size: 20px !important;
}

.entry-content .events-table tbody tr td i {
  font-size: 12px !important;
}

body.messages .bp-messages-nav-panel {
  border: none !important;
}

body.messages .bp-messages-nav-panel * {
  border: none !important;
}

body .avatar, body .group-avatar-wrap {
  border-radius: 90% !important;
  max-width: 100px !important;
  max-height: 100px !important;
}

body footer {
  display: none !important;
}

body.messages:not(.group-type-bedrijf) .header-aside:before {
  content: "";
  position: absolute;
  background-color: transparent;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  top: 0;
  right: 0;
  height: 160px;
  width: 80px;
  border-top-left-radius: 160px;
  -webkit-box-shadow: 0 -80px 0 0 #381948;
          box-shadow: 0 -80px 0 0 #381948;
}

.site-header {
  z-index: 611 !important;
  padding: 0 !important;
  top: 0 !important;
}

.site-header-container {
  padding: 0 !important;
  height: auto !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.site-header-container .header-aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100% !important;
  min-height: 216px;
  background-color: #ffffff;
  position: relative;
}

.site-header-container .header-aside:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #381948;
  z-index: -1;
}

.site-header-container .header-aside a.user-link {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.site-header-container .header-aside a.user-link .user-name {
  display: none;
}

.buddypanel {
  width: 10vw !important;
  bottom: 0;
  height: calc(100% - 336px) !important;
}

.buddypanel .side-panel-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buddypanel .side-panel-menu li a {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.buddypanel .panel-head {
  background: transparent !important;
}

.buddypanel:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #881F6A;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #381948), to(#881F6A));
  background: linear-gradient(0deg, #381948 5%, #881F6A 100%);
}

body.buddypanel-open .buddypanel {
  width: 25vw !important;
}

body.buddypanel-open .buddypanel .side-panel-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body.buddypanel-open .buddypanel .side-panel-menu li a {
  width: 100% !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body.buddypanel-open .site-header {
  width: 25vw !important;
}

@media only screen and (max-width: 799px) {
  body.buddypanel-open .site-header {
    width: 100% !important;
  }
}

.site-header {
  position: fixed;
  left: 0;
  height: auto;
  width: 10vw !important;
}

.site-header .site-branding {
  width: 100%;
  background-color: #881F6A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 120px !important;
  position: relative;
}

.site-header .site-branding:before {
  content: "";
  position: absolute;
  background-color: transparent;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  top: 0;
  right: 0;
  height: 160px;
  width: 80px;
  border-top-left-radius: 160px;
  -webkit-box-shadow: 0 -80px 0 0 #ffffff;
          box-shadow: 0 -80px 0 0 #ffffff;
}

.side-panel-inner .bp-menu:hover span.count {
  color: #D42EA2;
}

.side-panel-inner .bp-menu span.count {
  padding: 0 !important;
  left: 36px;
  top: -4px;
  position: absolute;
  height: 12px !important;
  width: 12px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 90% !important;
  background-color: #ffffff;
  color: #881F6A;
  font-weight: 900;
}

.messages-wrapper {
  border: none !important;
}

.site-content {
  position: relative !important;
}

.site-content .site-content-grid,
.site-content .content-area {
  padding: 0 !important;
  max-width: 100% !important;
  margin: 0 !important;
}

.site-content .site-content-grid .post-author-info,
.site-content .content-area .post-author-info {
  display: none;
}

.site-content .buddypress-wrap #cover-image-container {
  border: none !important;
}

.site-content .bp-wrap .bp-subnavs {
  padding: 0 20px !important;
  margin-bottom: 20px !important;
}

.site-content .bp-wrap .main-navs {
  border-top: 1px solid #E7E9EC !important;
  margin-top: 1px !important;
  border-radius: 5px !important;
}

.site-content .bp-wrap .bp-profile-wrapper td {
  padding: 0 !important;
}

.site-content .bp-wrap .subsubsub {
  margin: 40px 0 10px !important;
}

.site-content .bp-messages-container {
  height: 100vh;
}

.site-content .bp-messages-container .bp-messages-nav-panel {
  padding-top: 72px !important;
  background-color: #381948;
  position: relative;
}

.site-content .bp-messages-container .bp-messages-nav-panel:before {
  content: "";
  position: absolute;
  background-color: transparent;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  top: 0;
  right: 0px;
  height: 160px;
  width: 80px;
  border-top-left-radius: 160px;
  -webkit-box-shadow: 0 -80px 0 0 #ffffff;
          box-shadow: 0 -80px 0 0 #ffffff;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs {
  float: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 0 24px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs .subnav {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs .subnav li {
  margin: 0 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs .subnav li:not(:first-child) {
  margin-left: 20px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs .subnav:before, .site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs .subnav:after {
  content: none !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-subnavs .subnav * {
  color: #ffffff !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .subnav-filters {
  margin: 0 0 0 20px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .subnav-filters input {
  font-size: 14px !important;
  font-family: "Work Sans", sans-serif !important;
  font-weight: 100 !important;
  color: #ffffff !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters {
  width: 100% !important;
  height: 65px !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  float: left !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form {
  height: 32px !important;
  background-color: transparent !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form button {
  opacity: 1 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form input,
.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form label {
  display: none;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover input,
.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: none !important;
  background-image: none !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover input::-webkit-input-placeholder,
.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover label::-webkit-input-placeholder {
  color: #ffffff;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover input:-ms-input-placeholder,
.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover label:-ms-input-placeholder {
  color: #ffffff;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover input::-ms-input-placeholder,
.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover label::-ms-input-placeholder {
  color: #ffffff;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover input::placeholder,
.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-filters .user-messages-search .bp-search.messages-search form:hover label::placeholder {
  color: #ffffff;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list {
  clear: both !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item {
  margin-bottom: -1px !important;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
  padding-left: 24px !important;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item * {
  color: rgba(255, 255, 255, 0.3) !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item .thread-avatar {
  margin: 0 12px 0 0 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item .thread-avatar .recipients-count {
  display: none;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item .thread-subject .last-message-sender {
  display: none;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item .thread-to span {
  margin-bottom: 4px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.unread {
  -webkit-box-ordinal-group: 2 !important;
      -ms-flex-order: 1 !important;
          order: 1 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.unread.current {
  -webkit-box-ordinal-group: 2 !important;
      -ms-flex-order: 1 !important;
          order: 1 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.unread * {
  color: #ffffff !important;
  font-weight: 400 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.unread .thread-date time {
  font-family: "Work Sans", sans-serif !important;
  font-weight: 400 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.unread .thread-date time:after {
  background-color: #D42EA2 !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.current {
  border-left: 8px solid #D42EA2 !important;
  padding-left: 16px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item.current .bp-message-link {
  padding-left: 12px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item * {
  background-color: transparent !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item .bp-message-link {
  height: 100%;
  width: 100%;
  right: 0;
  left: 0;
  position: absolute;
  padding: 20px !important;
}

.site-content .bp-messages-container .bp-messages-nav-panel .bp-messages-threads-list .message-lists .thread-item .bp-message-link:hover {
  background-color: transparent !important;
}

.site-content .bp-messages-container .bp-messages-content-wrapper {
  padding: 80px 36px !important;
}

.site-content .bp-messages-container .bp-messages-content-wrapper li .bp-avatar-wrap {
  display: none;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list .bp-single-message-wrap {
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li:not(.send-by-you) .bp-message-content-wrap {
  background-color: #881F6A;
  border-radius: 90px;
  border-top-left-radius: 0;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li.send-by-you {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li.send-by-you .bp-message-content-wrap {
  background-color: #D42EA2;
  border-radius: 90px;
  border-top-right-radius: 0;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li.send-by-you .bp-single-message-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: flex-end; */
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li .bp-single-message-content .message-metadata .bp-user-link {
  display: none;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li .bp-single-message-content .bp-message-content-wrap {
  color: #ffffff;
  width: -webkit-fit-content !important;
  width: -moz-fit-content !important;
  width: fit-content !important;
  max-width: 50%;
  margin: 0 !important;
  padding: 20px 28px !important;
}

.site-content .bp-messages-container .bp-messages-content-wrapper #bp-message-thread-list li .bp-single-message-content .bp-message-content-wrap p {
  margin-bottom: 0 !important;
}

.site-content .bp-messages-container .bp-messages-content-wrapper .bp-user-avatar img {
  width: 50px;
  height: 50px;
}

.site-content article .post-inner-wrap {
  border: none !important;
}

.site-content article .post-inner-wrap .entry-meta {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.site-content article .post-inner-wrap .entry-meta * {
  color: #ffffff;
  font-family: 'chivo';
}

.site-content article .post-inner-wrap .entry-meta .avatar-wrap {
  display: none !important;
}

.site-content article .post-inner-wrap .entry-meta .post-author {
  font-family: 'chivo';
  font-weight: bold;
  font-size: 14px;
}

.site-content article .post-inner-wrap .entry-meta .post-date {
  font-weight: 400;
  font-size: 14px;
}

.site-content article .post-inner-wrap .entry-img {
  position: relative;
  border-radius: 24px !important;
  padding-top: 52.56% !important;
}

.site-content article .post-inner-wrap .entry-img:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  background: #2d263b;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(45, 38, 59, 0)), to(#2d263b));
  background: linear-gradient(180deg, rgba(45, 38, 59, 0) 0%, #2d263b 100%);
  opacity: 0;
  -webkit-transition: .3s all ease-in;
  transition: .3s all ease-in;
}

.site-content article.first {
  margin-bottom: 64px !important;
}

.site-content article.first .entry-meta {
  opacity: 1 !important;
  margin-top: 0 !important;
  top: initial !important;
}

.site-content article.first .entry-meta * {
  color: #881F6A;
}

.site-content article:not(.first) .entry-meta {
  -webkit-transition: .2s all  ease-in-out !important;
  transition: .2s all  ease-in-out !important;
  position: relative;
  top: -110%;
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  z-index: 1;
}

.site-content article:not(.first):hover .entry-meta {
  -webkit-transform: translateY(-20px) !important;
          transform: translateY(-20px) !important;
  opacity: 1 !important;
}

.site-content article:not(.first):hover .entry-img:before {
  opacity: 1;
}

.site-content .comment-author a {
  font-family: 'Work Sans', sans-serif;
  font-weight: 500 !important;
  font-size: 16px !important;
  color: #881F6A !important;
}

@media only screen and (max-width: 1599px) and (min-width: 800px) {
  body .site-content > .container {
    padding: 0 20px !important;
  }
}

@media only screen and (max-width: 799px) {
  body .site-content > .container {
    padding: 229px 20px 0 !important;
  }
}

body.single-post .entry-meta {
  -webkit-transform: none !important;
          transform: none !important;
}

body.single-post .entry-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body.single-post .entry-content-wrap .entry-media {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

body.single-post .entry-content-wrap .entry-header {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

body.single-post .entry-content-wrap .entry-meta {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

body.single-post .entry-content-wrap .entry-content {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

body.messages:not(.group-type-bedrijf) {
  overflow-y: hidden;
}

body.messages:not(.group-type-bedrijf) .site-content > .container {
  padding: 0 !important;
  max-width: 100% !important;
}

body.messages:not(.group-type-bedrijf) .site-content .content-area {
  padding-top: 0 !important;
}

body.messages:not(.group-type-bedrijf) .bs-bp-container {
  position: relative;
}

@media only screen and (max-width: 799px) {
  body.messages:not(.group-type-bedrijf) .bs-bp-container {
    left: 0 !important;
  }
}

figure.entry-img {
  width: 100% !important;
  margin-left: 0 !important;
  margin: 0 0 32px !important;
}

body.single-post .entry-meta {
  display: block;
  opacity: 1;
  -webkit-transform: translate(0) !important;
          transform: translate(0) !important;
}

.notification-dropdown {
  left: -15px !important;
}

body.register .register-section-logo, body.login .register-section-logo {
  font-family: 'Work sans';
  font-weight: bolder;
  color: #881F6A !important;
  font-size: 26px;
}

@media only screen and (min-width: 1px) {
  body.register .container, body.login .container {
    padding: 20px !important;
  }
}

body.register .site-header, body.login .site-header {
  display: none;
}

body.register .site-content, body.login .site-content {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

body.register .submit, body.login .submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body.register .submit input, body.login .submit input {
  width: 100% !important;
  background-color: #D42EA2 !important;
  border-color: #D42EA2 !important;
  line-height: 1rem !important;
}

.sub-menu {
  border: 1px solid #E7E9EC;
}

.sub-menu .ab-sub-wrapper {
  border: 1px solid #E7E9EC;
  right: -187px !important;
  left: initial !important;
}

.sub-menu .ab-sub-wrapper::before {
  left: -5px !important;
  right: initial !important;
}

.login input {
  border-radius: 100px !important;
  border-color: red !important;
}

@media only screen and (max-width: 799px) {
  hr, .menu-item-83, .menu-item-76 {
    display: none;
  }
}

body .site {
  margin: 0 !important;
}

body .site-content {
  min-height: 100vh !important;
  left: 10vw !important;
  width: 90vw !important;
  padding: 0 !important;
  top: 0;
}

@media screen and (max-width: 799px) {
  body .site-content {
    left: 0 !important;
    width: 100vw !important;
  }
}

body.buddypanel-open .site-content {
  left: 25vw !important;
  width: 75vw !important;
}

@media screen and (max-width: 799px) {
  body.buddypanel-open .site-content {
    left: 0 !important;
    width: 100vw !important;
  }
}

body.register .site-content {
  left: 0 !important;
  min-width: 100vw !important;
}

.site-main > article:hover .entry-meta {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.site-main > article:not(.first):hover .entry-meta {
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.site-main > article .entry-meta {
  margin: 40px 0 !important;
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}
/*# sourceMappingURL=main.css.map */